* {
    box-sizing: border-box;
    margin: 0px;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
    margin: 5%;
    background-color: #eef0f2;
}

.powered-by-small {
    margin: 1px;

    height: 4px;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(346deg) brightness(20%)
        contrast(100%);
    cursor: pointer;
}

.powered-by-small img {
    height: 5px;
}

.powered-by-small:hover {
    filter: none;
}

.powered-by-text-small {
    font-size: 0.4rem;
}

/* https://coolors.co/3f0d12-a71d31-f1f0cc-d5bf86-8d775f */

.small {
    font-size: 0.7rem;
}

.result-item {
    margin-bottom: 7px;
    background-color: lightskyblue;
    display: flex;
    padding: 12px 18px 12px 12px;
    border-radius: 10px;
}

.icon-movie-title {
    align-self: center;
    align-content: center;
    height: 35px;
    width: 35px;
    padding: 10px 7px 4px 0px;
    transform: rotate(40deg);
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(346deg)
        brightness(100%) contrast(100%);
}

.icon-tv-title {
    align-self: center;
    align-content: center;
    height: 38px;
    width: 38px;
    padding: 0px 10px 8px 0px;
    margin-right: 5px;
}

.icon-search {
    align-self: center;
    align-content: center;
    height: 32px;
    width: 32px;
    padding: 5px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(346deg)
        brightness(100%) contrast(100%);
}

.result-recItem {
    margin-top: 10px;
}

.aspects {
    display: flex;
    flex-direction: row;
}

.aspect-item {
    border-radius: 10px;
    background-color: lightskyblue;
    padding: 10px;
    margin: 3px;
}

.genres {
    display: flex;
    flex-direction: row;
}

.genre-item {
    border-radius: 10px;
    background-color: seagreen;
    padding: 10px;
    margin: 3px;
}

/* display flex  */
.row-center {
    display: flex;
    justify-content: center;
    align-content: center;
}
.row-start {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.pointer {
    cursor: pointer;
}

.hero-image {
    max-width: 90vw;
    object-fit: contain;
    padding: 5px;
}
