* {
    box-sizing: border-box;
    margin: 0px;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
    margin: 20px 20px 20px 20px;
    background-color: aliceblue;
}

.powered-by-small {
    height: 5px;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(346deg) brightness(20%)
        contrast(100%);
    cursor: pointer;
}
.powered-by-small:hover {
    filter: none;
}

.powered-by-text-small {
    font-size: 0.4rem;
}

.small {
    font-size: 0.7rem;
}

.result-item {
    margin-bottom: 7px;
    background-color: lightskyblue;
    display: flex;
    padding: 12px 18px 12px 12px;
    border-radius: 10px;
}

.icon-search {
    align-self: center;
    align-content: center;
    height: 32px;
    width: 32px;
    padding: 5px;
}

.aspects {
    display: flex;
    flex-direction: row;
}

.aspect-item {
    border-radius: 10px;
    background-color: lightskyblue;
    padding: 10px;
    margin: 3px;
}

.genres {
    display: flex;
    flex-direction: row;
}

.genre-item {
    border-radius: 10px;
    background-color: seagreen;
    padding: 10px;
    margin: 3px;
}

/* display flex  */
.row-center {
    display: flex;
    justify-content: center;
    align-content: center;
}
.row-start {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.pointer {
    cursor: pointer;
}

.hero-image {
    max-width: 90vw;
    object-fit: contain;
}
